### Import Libraries

## Install Dependencies

In [25]:
pip install -r requirements.txt

Requirement already satisfied: pandas in c:\users\ketro\appdata\local\python\pythoncore-3.14-64\lib\site-packages (from -r requirements.txt (line 1)) (2.3.3)
Requirement already satisfied: numpy in c:\users\ketro\appdata\local\python\pythoncore-3.14-64\lib\site-packages (from -r requirements.txt (line 2)) (2.3.5)
Collecting seaborn (from -r requirements.txt (line 3))
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Collecting matplotlib (from -r requirements.txt (line 4))
  Using cached matplotlib-3.10.7-cp314-cp314-win_amd64.whl.metadata (11 kB)
Collecting plotly (from -r requirements.txt (line 5))
  Using cached plotly-6.5.0-py3-none-any.whl.metadata (8.5 kB)
Collecting scikit-learn (from -r requirements.txt (line 6))
  Using cached scikit_learn-1.7.2-cp314-cp314-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ketro\appdata\roaming\python\python314\site-packages (from pandas->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ketro\appdata\local\python\pythoncore-3.14-64\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ketro\appdata\local\python\pythoncore-3.14-64\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2025.2)
Collecting contourpy>=1.0.1 (from matplotlib->-r requirements.txt (line 4))
  Downloading contourpy-1.3.3-cp314-cp314-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib->-r requirements.txt (line 4))
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib->-r requirements.txt (line 4))
  Downloading fonttools-4.61.0-cp314-cp314-win_amd64.whl.metadata (115 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib->-r requirements.txt (line 4))
  Downloading kiwisolver-1.4.9-cp314-cp314-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\ketro\appdata\roaming\python\python314\site-packages (from matplotlib->-r requirements.txt (line 4)) (25.0)
Collecting pillow>=8 (from matplotlib->-r requirements.txt (line 4))
  Downloading pillow-12.0.0-cp314-cp314-win_amd64.whl.metadata (9.0 kB)
Collecting pyparsing>=3 (from matplotlib->-r requirements.txt (line 4))
  Downloading pyparsing-3.2.5-py3-none-any.whl.metadata (5.0 kB)
Collecting narwhals>=1.15.1 (from plotly->-r requirements.txt (line 5))
  Downloading narwhals-2.12.0-py3-none-any.whl.metadata (11 kB)
Collecting scipy>=1.8.0 (from scikit-learn->-r requirements.txt (line 6))
  Downloading scipy-1.16.3-cp314-cp314-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn->-r requirements.txt (line 6))
  Downloading joblib-1.5.2-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn->-r requirements.txt (line 6))
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: six>=1.5 in c:\users\ketro\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading matplotlib-3.10.7-cp314-cp314-win_amd64.whl (8.3 MB)
   ---------------------------------------- 0.0/8.3 MB ? eta -:--:--
   -------- ------------------------------- 1.8/8.3 MB 7.9 MB/s eta 0:00:01
   ------------ --------------------------- 2.6/8.3 MB 6.3 MB/s eta 0:00:01
   --------------------- ------------------ 4.5/8.3 MB 7.0 MB/s eta 0:00:01
   --------------------------- ------------ 5.8/8.3 MB 6.9 MB/s eta 0:00:01
   ---------------------------------- ----- 7.1/8.3 MB 6.7 MB/s eta 0:00:01
   ---------------------------------------- 8.3/8.3 MB 6.5 MB/s  0:00:01
Downloading plotly-6.5.0-py3-none-any.whl (9.9 MB)
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   ------ --------------------------------- 1.6/9.9 MB 8.4 MB/s eta 0:00:01
   ----------- ---------------------------- 2.9/9.9 MB 7.1 MB/s eta 0:00:01
   ---------------- ----------------------- 4.2/9.9 MB 7.0 MB/s eta 0:00:01
   ---------------------- ----------------- 5.5/9.9 MB 6.8 MB/s eta 0:00:01
   ------------------------ --------------- 6.0/9.9 MB 6.6 MB/s eta 0:00:01
   ------------------------ --------------- 6.0/9.9 MB 6.6 MB/s eta 0:00:01
   ------------------------ --------------- 6.0/9.9 MB 6.6 MB/s eta 0:00:01
   --------------------------- ------------ 6.8/9.9 MB 4.2 MB/s eta 0:00:01
   ----------------------------- ---------- 7.3/9.9 MB 4.3 MB/s eta 0:00:01
   ------------------------------------ --- 8.9/9.9 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------- 9.9/9.9 MB 4.5 MB/s  0:00:02
Downloading scikit_learn-1.7.2-cp314-cp314-win_amd64.whl (8.8 MB)
   ---------------------------------------- 0.0/8.8 MB ? eta -:--:--
   ---- ----------------------------------- 1.0/8.8 MB 5.3 MB/s eta 0:00:02
   -------- ------------------------------- 1.8/8.8 MB 5.0 MB/s eta 0:00:02
   ---------------- ----------------------- 3.7/8.8 MB 5.9 MB/s eta 0:00:01
   ----------------------- ---------------- 5.2/8.8 MB 6.3 MB/s eta 0:00:01
   ----------------------------- ---------- 6.6/8.8 MB 6.4 MB/s eta 0:00:01
   ----------------------------------- ---- 7.9/8.8 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------  8.7/8.8 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------- 8.8/8.8 MB 6.1 MB/s  0:00:01
Downloading contourpy-1.3.3-cp314-cp314-win_amd64.whl (232 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.61.0-cp314-cp314-win_amd64.whl (2.3 MB)
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   ---------------------- ----------------- 1.3/2.3 MB 6.7 MB/s eta 0:00:01
   ---------------------------------------- 2.3/2.3 MB 6.6 MB/s  0:00:00
Downloading joblib-1.5.2-py3-none-any.whl (308 kB)
Downloading kiwisolver-1.4.9-cp314-cp314-win_amd64.whl (75 kB)
Downloading narwhals-2.12.0-py3-none-any.whl (425 kB)
Downloading pillow-12.0.0-cp314-cp314-win_amd64.whl (7.1 MB)
   ---------------------------------------- 0.0/7.1 MB ? eta -:--:--
   ---------- ----------------------------- 1.8/7.1 MB 8.9 MB/s eta 0:00:01
   ----------------- ---------------------- 3.1/7.1 MB 7.6 MB/s eta 0:00:01
   ---------------------- ----------------- 3.9/7.1 MB 6.5 MB/s eta 0:00:01
   ------------------------ --------------- 4.5/7.1 MB 6.1 MB/s eta 0:00:01
   ----------------------------- ---------- 5.2/7.1 MB 5.0 MB/s eta 0:00:01
   ------------------------------ --------- 5.5/7.1 MB 4.4 MB/s eta 0:00:01
   ------------------------------------ --- 6.6/7.1 MB 4.4 MB/s eta 0:00:01
   -------------------------------------- - 6.8/7.1 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------- 7.1/7.1 MB 4.0 MB/s  0:00:01
Downloading pyparsing-3.2.5-py3-none-any.whl (113 kB)
Downloading scipy-1.16.3-cp314-cp314-win_amd64.whl (39.4 MB)
   ---------------------------------------- 0.0/39.4 MB ? eta -:--:--
   - -------------------------------------- 1.3/39.4 MB 7.7 MB/s eta 0:00:05
   -- ------------------------------------- 2.4/39.4 MB 6.3 MB/s eta 0:00:06
   -- ------------------------------------- 2.6/39.4 MB 4.3 MB/s eta 0:00:09
   --- ------------------------------------ 3.4/39.4 MB 4.1 MB/s eta 0:00:09
   ----- ---------------------------------- 5.0/39.4 MB 5.0 MB/s eta 0:00:07
   ------ --------------------------------- 6.6/39.4 MB 5.4 MB/s eta 0:00:07
   ------- -------------------------------- 7.9/39.4 MB 5.6 MB/s eta 0:00:06
   --------- ------------------------------ 8.9/39.4 MB 5.7 MB/s eta 0:00:06
   ---------- ----------------------------- 10.5/39.4 MB 5.8 MB/s eta 0:00:06
   ----------- ---------------------------- 11.5/39.4 MB 5.8 MB/s eta 0:00:05
   ------------- -------------------------- 13.1/39.4 MB 5.9 MB/s eta 0:00:05
   -------------- ------------------------- 14.4/39.4 MB 6.0 MB/s eta 0:00:05
   --------------- ------------------------ 15.7/39.4 MB 6.0 MB/s eta 0:00:04
   ----------------- ---------------------- 16.8/39.4 MB 5.9 MB/s eta 0:00:04
   ------------------ --------------------- 18.4/39.4 MB 6.1 MB/s eta 0:00:04
   ------------------- -------------------- 19.4/39.4 MB 5.9 MB/s eta 0:00:04
   -------------------- ------------------- 20.2/39.4 MB 5.8 MB/s eta 0:00:04
   --------------------- ------------------ 21.2/39.4 MB 5.8 MB/s eta 0:00:04
   ---------------------- ----------------- 22.0/39.4 MB 5.8 MB/s eta 0:00:03
   ----------------------- ---------------- 23.6/39.4 MB 5.8 MB/s eta 0:00:03
   ------------------------- -------------- 24.9/39.4 MB 5.8 MB/s eta 0:00:03
   -------------------------- ------------- 25.7/39.4 MB 5.8 MB/s eta 0:00:03
   --------------------------- ------------ 26.7/39.4 MB 5.7 MB/s eta 0:00:03
   ---------------------------- ----------- 28.0/39.4 MB 5.7 MB/s eta 0:00:02
   ------------------------------ --------- 29.6/39.4 MB 5.8 MB/s eta 0:00:02
   ------------------------------- -------- 30.9/39.4 MB 5.8 MB/s eta 0:00:02
   -------------------------------- ------- 32.2/39.4 MB 5.8 MB/s eta 0:00:02
   --------------------------------- ------ 33.3/39.4 MB 5.8 MB/s eta 0:00:02
   ----------------------------------- ---- 34.6/39.4 MB 5.9 MB/s eta 0:00:01
   ------------------------------------ --- 35.9/39.4 MB 5.9 MB/s eta 0:00:01
   -------------------------------------- - 37.5/39.4 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------  38.8/39.4 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------- 39.4/39.4 MB 5.9 MB/s  0:00:06
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, pyparsing, pillow, narwhals, kiwisolver, joblib, fonttools, cycler, contourpy, scikit-learn, plotly, matplotlib, seaborn

   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -- -------------------------------------  1/14 [scipy]
   -------- -------------------------------  3/14 [pillow]
   -------- -------------------------------  3/14 [pillow]
   -------- -------------------------------  3/14 [pillow]
   ----------- ----------------------------  4/14 [narwhals]
   ----------- ----------------------------  4/14 [narwhals]
   ----------- ----------------------------  4/14 [narwhals]
   ----------------- ----------------------  6/14 [joblib]
   ----------------- ----------------------  6/14 [joblib]
   -------------------- -------------------  7/14 [fonttools]
   -------------------- -------------------  7/14 [fonttools]
   -------------------- -------------------  7/14 [fonttools]
   -------------------- -------------------  7/14 [fonttools]
   -------------------- -------------------  7/14 [fonttools]
   -------------------- -------------------  7/14 [fonttools]
   -------------------- -------------------  7/14 [fonttools]
   ------------------------- --------------  9/14 [contourpy]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ---------------------------- ----------- 10/14 [scikit-learn]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ------------------------------- -------- 11/14 [plotly]
   ---------------------------------- ----- 12/14 [matplotlib]
   ---------------------------------- ----- 12/14 [matplotlib]
   ---------------------------------- ----- 12/14 [matplotlib]
   ---------------------------------- ----- 12/14 [matplotlib]
   ---------------------------------- ----- 12/14 [matplotlib]
   ---------------------------------- ----- 12/14 [matplotlib]
   ---------------------------------- ----- 12/14 [matplotlib]
   ---------------------------------- ----- 12/14 [matplotlib]
   ---------------------------------- ----- 12/14 [matplotlib]
   ---------------------------------- ----- 12/14 [matplotlib]
   ---------------------------------- ----- 12/14 [matplotlib]
   ------------------------------------- -- 13/14 [seaborn]
   ------------------------------------- -- 13/14 [seaborn]
   ---------------------------------------- 14/14 [seaborn]

Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.61.0 joblib-1.5.2 kiwisolver-1.4.9 matplotlib-3.10.7 narwhals-2.12.0 pillow-12.0.0 plotly-6.5.0 pyparsing-3.2.5 scikit-learn-1.7.2 scipy-1.16.3 seaborn-0.13.2 threadpoolctl-3.6.0
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts fonttools.exe, pyftmerge.exe, pyftsubset.exe and ttx.exe are installed in 'c:\Users\ketro\AppData\Local\Python\pythoncore-3.14-64\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script plotly_get_chrome.exe is installed in 'c:\Users\ketro\AppData\Local\Python\pythoncore-3.14-64\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [26]:


import pandas as pd
import numpy as np

#Data viz
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import plotly.express as px
import warnings

import pandas as pd
import numpy as np

#Data prep
import sklearn
from sklearn import preprocessing as pp
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_predict
from sklearn import metrics
from sklearn.metrics import confusion_matrix

# Evaluation Metrics
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score
from sklearn.metrics import roc_curve, auc, roc_auc_score
from sklearn.metrics import classification_report
from sklearn.preprocessing import OneHotEncoder


from sklearn import linear_model
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

### Data Ingestition

In [27]:
import pandas as pd
data_path = 'Expanded_Patient_Readmission_Data.csv'
#Loading the data
df=pd.read_csv(data_path)
#display the data
display(df)

,Patient ID,Age,Gender,Admission Type,Length of Stay,Number of Diagnoses,Blood Pressure,Blood Sugar Levels,Previous Admissions,Readmission
0,1,62,Female,Elective,4,5,110,130,1,No
1,2,65,Male,Emergency,19,2,157,81,4,No
2,3,82,Female,Emergency,18,4,74,84,0,No
3,4,85,Male,Emergency,2,4,106,85,4,No
4,5,85,Female,Elective,19,3,80,119,3,No
...,...,...,...,...,...,...,...,...,...,...
2995,2996,50,Female,Emergency,4,2,150,143,0,No
2996,2997,21,Female,Elective,1,2,141,169,1,No
2997,2998,20,Female,Elective,2,8,155,180,3,No
2998,2999,69,Female,Elective,13,9,117,173,4,Yes
2999,3000,45,Female,Elective,26,7,108,84,0,No

In [28]:
#Loading the data
df=pd.read_csv(data_path)

In [29]:
#display the data
display(df)

,Patient ID,Age,Gender,Admission Type,Length of Stay,Number of Diagnoses,Blood Pressure,Blood Sugar Levels,Previous Admissions,Readmission
0,1,62,Female,Elective,4,5,110,130,1,No
1,2,65,Male,Emergency,19,2,157,81,4,No
2,3,82,Female,Emergency,18,4,74,84,0,No
3,4,85,Male,Emergency,2,4,106,85,4,No
4,5,85,Female,Elective,19,3,80,119,3,No
...,...,...,...,...,...,...,...,...,...,...
2995,2996,50,Female,Emergency,4,2,150,143,0,No
2996,2997,21,Female,Elective,1,2,141,169,1,No
2997,2998,20,Female,Elective,2,8,155,180,3,No
2998,2999,69,Female,Elective,13,9,117,173,4,Yes
2999,3000,45,Female,Elective,26,7,108,84,0,No

##Data Preprocessing and Cleanup

In [30]:
#check the number of rows
df.shape

(3000, 10)

### Observation
The dataset contains 3000 rowsn and 10 columns

In [31]:
# Checking the column names in the dataset provided
df.columns

Index(['Patient ID', 'Age', 'Gender', 'Admission Type', 'Length of Stay',
       'Number of Diagnoses', 'Blood Pressure', 'Blood Sugar Levels',
       'Previous Admissions', 'Readmission'],
      dtype='object')

In [32]:
#Checking the number of null values on the dataset
df.isnull().sum()

Patient ID             0
Age                    0
Gender                 0
Admission Type         0
Length of Stay         0
Number of Diagnoses    0
Blood Pressure         0
Blood Sugar Levels     0
Previous Admissions    0
Readmission            0
dtype: int64

### Observation
The dataset do not contain any NULL values in any of the columns

In [33]:
# Checking the number of duplicates
df.duplicated().sum()

np.int64(0)

### Observation
The dataset does not have any duplicated rows

In [34]:
#checking the data types
df.dtypes

Patient ID              int64
Age                     int64
Gender                 object
Admission Type         object
Length of Stay          int64
Number of Diagnoses     int64
Blood Pressure          int64
Blood Sugar Levels      int64
Previous Admissions     int64
Readmission            object
dtype: object

###Observation
The data types are correct, they do not need to be changed.

In [35]:
df.head()

,Patient ID,Age,Gender,Admission Type,Length of Stay,Number of Diagnoses,Blood Pressure,Blood Sugar Levels,Previous Admissions,Readmission
0,1,62,Female,Elective,4,5,110,130,1,No
1,2,65,Male,Emergency,19,2,157,81,4,No
2,3,82,Female,Emergency,18,4,74,84,0,No
3,4,85,Male,Emergency,2,4,106,85,4,No
4,5,85,Female,Elective,19,3,80,119,3,No

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient ID           3000 non-null   int64
 1   Age                  3000 non-null   int64
 2   Gender               3000 non-null   object
 3   Admission Type       3000 non-null   object
 4   Length of Stay       3000 non-null   int64
 5   Number of Diagnoses  3000 non-null   int64
 6   Blood Pressure       3000 non-null   int64
 7   Blood Sugar Levels   3000 non-null   int64
 8   Previous Admissions  3000 non-null   int64
 9   Readmission          3000 non-null   object
dtypes: int64(7), object(3)
memory usage: 234.5+ KB

###Observation
The dataset does

#Exploratory Data Analysis and Insights

####Understanding the Values within the categorical Data

In [37]:
## This code shows unique values on the Readmission column
print(df['Readmission'].unique())

## This code counts the number of unique values on the Readmission column
df['Readmission'].nunique()

['No' 'Yes']

2

In [38]:
## This code shows unique values on the Readmission column
print(df['Admission Type'].unique())

## This code counts the number of unique values on the Readmission column
df['Admission Type'].nunique()

['Elective' 'Emergency']

2

In [39]:
## This code shows unique values on the Gender column
print(df['Gender'].unique())

## This code counts the number of unique values on the Gender column
df['Gender'].nunique()

['Female' 'Male']

2

####Understanding the Numberical dataset

In [40]:
df

,Patient ID,Age,Gender,Admission Type,Length of Stay,Number of Diagnoses,Blood Pressure,Blood Sugar Levels,Previous Admissions,Readmission
0,1,62,Female,Elective,4,5,110,130,1,No
1,2,65,Male,Emergency,19,2,157,81,4,No
2,3,82,Female,Emergency,18,4,74,84,0,No
3,4,85,Male,Emergency,2,4,106,85,4,No
4,5,85,Female,Elective,19,3,80,119,3,No
...,...,...,...,...,...,...,...,...,...,...
2995,2996,50,Female,Emergency,4,2,150,143,0,No
2996,2997,21,Female,Elective,1,2,141,169,1,No
2997,2998,20,Female,Elective,2,8,155,180,3,No
2998,2999,69,Female,Elective,13,9,117,173,4,Yes
2999,3000,45,Female,Elective,26,7,108,84,0,No

In [41]:
numerical_columns = df[['Age','Length of Stay', 'Number of Diagnoses','Blood Pressure','Blood Sugar Levels', 'Previous Admissions', ]]
display(numerical_columns)

,Age,Length of Stay,Number of Diagnoses,Blood Pressure,Blood Sugar Levels,Previous Admissions
0,62,4,5,110,130,1
1,65,19,2,157,81,4
2,82,18,4,74,84,0
3,85,2,4,106,85,4
4,85,19,3,80,119,3
...,...,...,...,...,...,...
2995,50,4,2,150,143,0
2996,21,1,2,141,169,1
2997,20,2,8,155,180,3
2998,69,13,9,117,173,4
2999,45,26,7,108,84,0

In [42]:
numerical_columns.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,3000.0,53.453000,20.892996,18.0,35.00,53.0,72.00,89.0
Length of Stay,3000.0,15.226333,8.264858,1.0,8.00,15.0,22.00,29.0
Number of Diagnoses,3000.0,4.956667,2.575073,1.0,3.00,5.0,7.00,9.0
Blood Pressure,3000.0,119.058000,34.089265,60.0,89.75,119.0,147.25,179.0
Blood Sugar Levels,3000.0,133.536000,37.626311,51.0,101.00,133.0,167.00,199.0
Previous Admissions,3000.0,1.958333,1.401637,0.0,1.00,2.0,3.00,4.0

In [43]:
df

,Patient ID,Age,Gender,Admission Type,Length of Stay,Number of Diagnoses,Blood Pressure,Blood Sugar Levels,Previous Admissions,Readmission
0,1,62,Female,Elective,4,5,110,130,1,No
1,2,65,Male,Emergency,19,2,157,81,4,No
2,3,82,Female,Emergency,18,4,74,84,0,No
3,4,85,Male,Emergency,2,4,106,85,4,No
4,5,85,Female,Elective,19,3,80,119,3,No
...,...,...,...,...,...,...,...,...,...,...
2995,2996,50,Female,Emergency,4,2,150,143,0,No
2996,2997,21,Female,Elective,1,2,141,169,1,No
2997,2998,20,Female,Elective,2,8,155,180,3,No
2998,2999,69,Female,Elective,13,9,117,173,4,Yes
2999,3000,45,Female,Elective,26,7,108,84,0,No

#Feature Engineering

In [44]:
# Confirming the categoricals columns before encoding
print("Categorical columns:", list(df.select_dtypes(include='object').columns))

Categorical columns: ['Gender', 'Admission Type', 'Readmission']

In [45]:
# Select only categorical columns
categorical_columns = df.select_dtypes(include='object').columns

# Apply One-Hot Encoding to the categorical columns
ohe = OneHotEncoder()

encoded_data = ohe.fit_transform(df[categorical_columns]).toarray()

# Get the feature names for the encoded columns
feature_names = ohe.get_feature_names_out(categorical_columns)

# Create a new DataFrame with the encoded data
encoded_df = pd.DataFrame(encoded_data, columns=feature_names)

# Drop the original categorical columns from the original DataFrame
df_encoded = df.drop(categorical_columns, axis=1)

# Concatenate the original DataFrame (without categorical columns) with the encoded DataFrame
df_encoded = pd.concat([df_encoded, encoded_df], axis=1)

display(df_encoded.head())

,Patient ID,Age,Length of Stay,Number of Diagnoses,Blood Pressure,Blood Sugar Levels,Previous Admissions,Gender_Female,Gender_Male,Admission Type_Elective,Admission Type_Emergency,Readmission_No,Readmission_Yes
0,1,62,4,5,110,130,1,1.0,0.0,1.0,0.0,1.0,0.0
1,2,65,19,2,157,81,4,0.0,1.0,0.0,1.0,1.0,0.0
2,3,82,18,4,74,84,0,1.0,0.0,0.0,1.0,1.0,0.0
3,4,85,2,4,106,85,4,0.0,1.0,0.0,1.0,1.0,0.0
4,5,85,19,3,80,119,3,1.0,0.0,1.0,0.0,1.0,0.0

In [46]:
# Checking the encoded data
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Patient ID                3000 non-null   int64
 1   Age                       3000 non-null   int64
 2   Length of Stay            3000 non-null   int64
 3   Number of Diagnoses       3000 non-null   int64
 4   Blood Pressure            3000 non-null   int64
 5   Blood Sugar Levels        3000 non-null   int64
 6   Previous Admissions       3000 non-null   int64
 7   Gender_Female             3000 non-null   float64
 8   Gender_Male               3000 non-null   float64
 9   Admission Type_Elective   3000 non-null   float64
 10  Admission Type_Emergency  3000 non-null   float64
 11  Readmission_No            3000 non-null   float64
 12  Readmission_Yes           3000 non-null   float64
dtypes: float64(6), int64(7)
memory usage: 304.8 KB

#Observation
The columns created from the encoding are floats, they need to converted to int like the other columns

In [47]:
# Converting the encoded columns into integers
df_encoded['Gender_Female'] = df_encoded['Gender_Female'].astype(int)
df_encoded['Gender_Male'] = df_encoded['Gender_Male'].astype(int)
df_encoded['Admission Type_Elective'] = df_encoded['Admission Type_Elective'].astype(int)
df_encoded['Admission Type_Emergency'] = df_encoded['Admission Type_Emergency'].astype(int)

display(df_encoded.head())

,Patient ID,Age,Length of Stay,Number of Diagnoses,Blood Pressure,Blood Sugar Levels,Previous Admissions,Gender_Female,Gender_Male,Admission Type_Elective,Admission Type_Emergency,Readmission_No,Readmission_Yes
0,1,62,4,5,110,130,1,1,0,1,0,1.0,0.0
1,2,65,19,2,157,81,4,0,1,0,1,1.0,0.0
2,3,82,18,4,74,84,0,1,0,0,1,1.0,0.0
3,4,85,2,4,106,85,4,0,1,0,1,1.0,0.0
4,5,85,19,3,80,119,3,1,0,1,0,1.0,0.0

#Feature Selection

###Standardizing Data

In [48]:
# Features
features=df_encoded.drop('Readmission',axis=1)

# Target Variable
y=df_encoded['Readmission']

KeyError: "['Readmission'] not found in axis"

In [ ]:
display(features)

,Patient ID,Age,Length of Stay,Number of Diagnoses,Blood Pressure,Blood Sugar Levels,Previous Admissions,Gender_Encoded,Admission_Elective,Admission_Emergency,Gender_Female,Gender_Male,Admission Type_Elective,Admission Type_Emergency
0,1,62,4,5,110,130,1,0,1,0,1,0,1,0
1,2,65,19,2,157,81,4,1,0,1,0,1,0,1
2,3,82,18,4,74,84,0,0,0,1,1,0,0,1
3,4,85,2,4,106,85,4,1,0,1,0,1,0,1
4,5,85,19,3,80,119,3,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,50,4,2,150,143,0,0,0,1,1,0,0,1
2996,2997,21,1,2,141,169,1,0,1,0,1,0,1,0
2997,2998,20,2,8,155,180,3,0,1,0,1,0,1,0
2998,2999,69,13,9,117,173,4,0,1,0,1,0,1,0
2999,3000,45,26,7,108,84,0,0,1,0,1,0,1,0

In [ ]:
# Instantiate the StandardScaler
scaler = StandardScaler()

# Fit the scaler to the data
scaler.fit(features)

# Transform the data by applying the scaling
X = scaler.transform(features)

### Train - Test Split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X , y, test_size= 0.2, random_state= 0)

# Model Training

In [ ]:
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score, f1_score,
    classification_report
)
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

# Define classification models
models = {
    'Logistic Regression': LogisticRegression(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
    'Support Vector Classifier': SVC(),
    'K-Nearest Neighbors': KNeighborsClassifier(),
    'Naive Bayes': GaussianNB(),
    'Gradient Boosting': GradientBoostingClassifier()
}

# Define evaluation metrics
metrics = {
    'Accuracy': accuracy_score,
    'Precision': lambda y_true, y_pred: precision_score(y_true, y_pred, zero_division=0),
    'Recall': recall_score,
    'F1 Score': lambda y_true, y_pred: f1_score(y_true, y_pred, zero_division=0)
}

# Initialize a dictionary to store results
evaluation_results = {}

# Train and evaluate models
for name, model in models.items():
    print(f"Training {name}...")
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    # Store metrics
    evaluation_results[name] = {
        metric_name: metric_func(y_test, y_pred)
        for metric_name, metric_func in metrics.items()
    }

    # Print detailed classification report
    print(f"\nClassification Report for {name}:")
    print(classification_report(y_test, y_pred, zero_division=0))
    print("-" * 50)

# Print summary table
print("\nOverall Evaluation Results:")
for name, scores in evaluation_results.items():
    print(f"\n{name}")
    for metric_name, score in scores.items():
        print(f"  {metric_name}: {score:.4f}")

Training Logistic Regression...

Classification Report for Logistic Regression:
              precision    recall  f1-score   support

           0       0.72      1.00      0.84       432
           1       0.00      0.00      0.00       168

    accuracy                           0.72       600
   macro avg       0.36      0.50      0.42       600
weighted avg       0.52      0.72      0.60       600

--------------------------------------------------
Training Decision Tree...

Classification Report for Decision Tree:
              precision    recall  f1-score   support

           0       0.72      0.68      0.70       432
           1       0.28      0.31      0.29       168

    accuracy                           0.58       600
   macro avg       0.50      0.50      0.50       600
weighted avg       0.59      0.58      0.59       600

--------------------------------------------------
Training Random Forest...

Classification Report for Random Forest:
              precision    recall  f1-score   support

           0       0.72      0.98      0.83       432
           1       0.43      0.04      0.07       168

    accuracy                           0.72       600
   macro avg       0.58      0.51      0.45       600
weighted avg       0.64      0.72      0.62       600

--------------------------------------------------
Training Support Vector Classifier...

Classification Report for Support Vector Classifier:
              precision    recall  f1-score   support

           0       0.72      1.00      0.84       432
           1       0.00      0.00      0.00       168

    accuracy                           0.72       600
   macro avg       0.36      0.50      0.42       600
weighted avg       0.52      0.72      0.60       600

--------------------------------------------------
Training K-Nearest Neighbors...

Classification Report for K-Nearest Neighbors:
              precision    recall  f1-score   support

           0       0.73      0.84      0.78       432
           1       0.32      0.19      0.24       168

    accuracy                           0.66       600
   macro avg       0.52      0.52      0.51       600
weighted avg       0.61      0.66      0.63       600

--------------------------------------------------
Training Naive Bayes...

Classification Report for Naive Bayes:
              precision    recall  f1-score   support

           0       0.72      1.00      0.84       432
           1       0.00      0.00      0.00       168

    accuracy                           0.72       600
   macro avg       0.36      0.50      0.42       600
weighted avg       0.52      0.72      0.60       600

--------------------------------------------------
Training Gradient Boosting...

Classification Report for Gradient Boosting:
              precision    recall  f1-score   support

           0       0.72      0.97      0.82       432
           1       0.19      0.02      0.03       168

    accuracy                           0.70       600
   macro avg       0.45      0.49      0.43       600
weighted avg       0.57      0.70      0.60       600

--------------------------------------------------

Overall Evaluation Results:

Logistic Regression
  Accuracy: 0.7200
  Precision: 0.0000
  Recall: 0.0000
  F1 Score: 0.0000

Decision Tree
  Accuracy: 0.5783
  Precision: 0.2751
  Recall: 0.3095
  F1 Score: 0.2913

Random Forest
  Accuracy: 0.7167
  Precision: 0.4286
  Recall: 0.0357
  F1 Score: 0.0659

Support Vector Classifier
  Accuracy: 0.7200
  Precision: 0.0000
  Recall: 0.0000
  F1 Score: 0.0000

K-Nearest Neighbors
  Accuracy: 0.6583
  Precision: 0.3168
  Recall: 0.1905
  F1 Score: 0.2379

Naive Bayes
  Accuracy: 0.7200
  Precision: 0.0000
  Recall: 0.0000
  F1 Score: 0.0000

Gradient Boosting
  Accuracy: 0.7033
  Precision: 0.1875
  Recall: 0.0179
  F1 Score: 0.0326

#Predictions

In [ ]:
# Make predictions using the trained K-Nearest Neighbors model
knn_model = models['K-Nearest Neighbors']

# Predict readmission on the test set
knn_predictions = knn_model.predict(X_test)

# Show the predictions
print("Final Predictions using K-Nearest Neighbors Classifier:")
print(knn_predictions)

# Evaluate the model again for confirmation
print("\nEvaluation on Test Data:")
print(classification_report(y_test, knn_predictions, zero_division=0))

Final Predictions using K-Nearest Neighbors Classifier:
[0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 1 1 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 1 0 1 0 0
 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1
 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 1 1 0 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0
 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 1 0
 1 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 0
 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 1 1 1 0 0 0 1 0 0 0 0 0
 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 1 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 1 0
 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0
 0 0 0 0 1 0 0 0]

Evaluation on Test Data:
              precision    recall  f1-score   support

           0       0.73      0.84      0.78       432
           1       0.32      0.19      0.24       168

    accuracy                           0.66       600
   macro avg       0.52      0.52      0.51       600
weighted avg       0.61      0.66      0.63       600